<div class="bg-dark-subtle h-100">
  <div class="container-fluid w-100 d-flex flex-column align-items-center justify-content-center text-center py-4">
    <div class="d-flex flex-column align-items-center">
      <p class="mb-2">© 2024 TeacherApp.</p>
      <p class="mb-2">Todos los derechos reservados.</p>
      <div class="d-flex align-items-center justify-content-center">
        <i class="fa-brands fa-linkedin m-2 font22"></i>
        <i class="fa-brands fa-youtube mx-2 font22"></i>
        <i class="fa-brands fa-x-twitter mx-2 font22"></i>
        <i class="fa-brands fa-instagram mx-2 font22"></i>
      </div>
    </div>
  </div>
</div>
